.swiper {
  width: 100%;
  padding-top: 50px;
  border-radius: calc(var(--defaultRadius) * 2);

  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 30%;
  border-radius: calc(var(--defaultRadius) * 2);

  height: auto;
  @media screen and (max-width: 860px) {
    width: 90%;
  }
}

/* .swiper-slide img {
  display: block;

  width: 100%;
} */
